{% if hotel.saisonBase is not null %}
    <ul id="" class="nav nav-tabs tab-padding tab-space-3">
        <li {% if app.request.get('_route')=='saison_base' %}class="active"{% endif %}>
            <a href="{{ path("saison_base",{'id':hotel.id}) }}">
                Information générale
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_chambres' %}class="active"{% endif %}>
            <a href="{{ path("saison_chambres",{'id':hotel.id}) }}">
                Occupation des chambres 
                {% if hotel.saisonBase.chambres|length ==0 %}
                    <span class="badge badge-danger">vide</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="#panel_tab3_example3">
                Arrangements
            </a>
        </li>
        <li {% if app.request.get('_route')=='saison_reduction' %}class="active"{% endif %}>
            <a href="{{ path("saison_reduction",{'id':hotel.id}) }}">
                Réductions
                {% if hotel.saisonBase.saisonReduc is null%}
                    <span class="badge badge-danger">vide</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="#panel_tab3_example3">
                Suppléments
            </a>
        </li>
        <li>
            <a href="#panel_tab3_example3">
                Supp. chambres
            </a>
        </li>
        <li>
            <a href="#panel_tab3_example3">
                Supp. vues
            </a>
        </li>
        <li>
            <a href="#panel_tab3_example3">
                Autres suppl/réduc
            </a>
        </li>
        {% if hotel.ficheTechnique.tarifWeekend == true%}
            <li>
                <a href="#panel_tab3_example3">
                    Week-end
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}