{% macro tableDelete(path) %}
    <a href="{{ path }}" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Supprimer" onclick="javascript:return(confirm('Etes-vous certain de vouloir supprimer cette ligne ?'))"><i class="fa fa-times fa fa-white"></i></a>
    {% endmacro %}

{% macro tableEdit(path) %}
    <a href="{{ path }}" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
{% endmacro %}