{% if false %}
    <div class="sort-by-wrapper">
	<div class="sort-by-text mr-15 xs-mb sm-mb" style="white-space: nowrap;">								
	    Sort by:
	</div>			
	<div class="sort-option mr-15 xs-mb sm-mb">
	    <select class="form-control mySelectBoxClass ">
		<option selected>Nom</option>
		<option>De A à Z</option>
		<option>De Z à A</option>
	    </select>
	</div>
	<div class="sort-option mr-15 xs-mb sm-mb">
	    <select class="form-control mySelectBoxClass ">
		<option selected>Budget</option>
		<option>Ascendant</option>
		<option>Descendant</option>
	    </select>
	</div>
	<div class="sort-option mr-15 xs-mb sm-mb">
	    <select class="form-control mySelectBoxClass ">
		<option selected>Ville</option>
		<option>Ascendant</option>
		<option>Descendant</option>
	    </select>
	</div>
    </div>
    <div class="clear mb-30"></div>
{% endif %}