{% set sort=app.request.get('sort') %}
{% set dir=app.request.get('direction') %}
{% set action=path('front_voyageorganise_sort',{'themes':app.request.get('themes'),'destinations':app.request.get('destinations'),'pays':app.request.get('pays'),'name':app.request.get('name'),}) %}
<div class="booking-item-dates-change mb30">
		<div class="row">
        <div class="col-md-2">
            <div class="booking-sort-title">Trier Par</div>
        </div>
        <div class="col-md-3">
            <form method="post" action="{{ action }}">
		<div class="sort-option mr-15 xs-mb sm-mb">
			<input type="hidden" name="sort" value="v.libelle">
			<select class="form-control mySelectBoxClass " name="direction" onchange="submit()">
				<option value="" selected>Nom</option>
				<option value="asc" {% if sort=='v.libelle' and dir=='asc' %}selected {% endif %}>De A à Z</option>
				<option value="desc" {% if sort=='v.libelle' and dir=='desc' %}selected {% endif %}>De Z à A</option>
			</select>
		</div>
	</form>
			</div>
		<div class="col-md-3">
	<form method="post" action="{{ action }}">
		<input type="hidden" name="sort" value="v.destination">
		<div class="sort-option mr-15 xs-mb sm-mb">
			<select class="form-control mySelectBoxClass " name="direction" onchange="submit()">
				<option value="" selected>Destination</option>
				<option value="asc" {% if sort=='v.destination' and dir=='asc' %}selected {% endif %}>Croissant</option>
				<option value="desc" {% if sort=='v.destination' and dir=='desc' %}selected {% endif %}>Decroissant</option>
			</select>
		</div>
	</form>
		</div>
		<div class="col-md-3">
	<form method="post" action="{{ action }}">
		<input type="hidden" name="sort" value="v.prix">
		<div class="sort-option mr-15 xs-mb sm-mb">
			<select class="form-control mySelectBoxClass " name="direction" onchange="submit()">
				<option value="" selected>Prix</option>
				<option value="asc" {% if sort=='v.prix' and dir=='asc' %}selected {% endif %}>Ascendant</option>
				<option value="desc" {% if sort=='v.prix' and dir=='desc' %}selected {% endif %}>Descendant</option>
			</select>
		</div>
	</form>
        </div>
		</div>
    </div>