{% extends ":Front:base.html.twig" %}
{% block title %}Echec{% endblock %}
{% block body %}
    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-md-12">
                    <div class="white-bg payment-wrapper">
                        <h2 class="section-title center mb-10">Nous regrettons de vous informer que le paiement de votre commande <span style="color:red">n'est pas validé</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
