{% extends ":Front:base.html.twig" %}
{% block title %}Location de voiture en Tunisie{% endblock %}
{% block body %}
    <div id="page_title">
        <div class="container clearfix">
            <div class="page-name">{{ block('title') }}</div>
            <div class="breadcrumb clearfix">
                <a href="{{ path('accueil') }}">Accueil</a>
                <span class="current-page">{{ block('title') }}</span>
            </div>
        </div>
    </div>

    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-md-12" style="overflow: hidden">
                    <iframe style="background-color:#FFFFFF;" src="http://www.dreamsrentacar.com/IMPLEMENTATION_BTOBMODULE/index.php" width="100%" height="2500px" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}