{% extends ":Front:base.html.twig" %}
{% block title %}En cours de construction{% endblock %}
{% block body %}
    <div id="page_title">
        <div class="container clearfix">
            <div class="page-name">{{ block('title') }}</div>
            <div class="breadcrumb clearfix">
                <a href="{{ path('accueil') }}">Accueil</a>
                <span class="current-page">En cours de construction{</span>
            </div>
        </div>
    </div>

    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-md-12">
                    <div class="white-bg payment-wrapper">
                        <h2 style="text-align: -webkit-center;"><img src="http://www.verquieres.com/images/page-en-construction.png"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}