<div class="tab-pane" id="formulaire_devis">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <h2><i class="fa fa-plus-square teal"></i> Nouveau devis</h2>
                <hr>
            </div>
        </div>
    </div>
</div>