{% extends ":Back:base.html.twig" %}
{% block title %}Tarif & Dispo{% endblock %}
{% block description %}{% endblock %}
{% block topbody %}
    {{ parent() }}
    <li>
        <a href="javascript:void(0)">Tarif & Dispo</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                <ul id="myTab" class="nav nav-tabs tab-bricky">
                    <li class="active">
                        <a href="#details_reservation" data-toggle="tab">
                            <i class="green fa fa-home"></i> Détails </a>
                    </li>
                    <li>
                        <a href="#formulaire_reservation" data-toggle="tab"> Réservaton </a>
                    </li>
                    <li>
                        <a href="#formulaire_devis" data-toggle="tab"> Devis </a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% include 'BackHotelTunisieBundle:Reservation/Formulaire:calendrier.html.twig' %}
                    {% include 'BackHotelTunisieBundle:Reservation/Formulaire:formulaire_reservation.html.twig' %}
                    {% include 'BackHotelTunisieBundle:Reservation/Formulaire:formulaire_devis.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    {% include 'BackHotelTunisieBundle:Reservation/Formulaire:javascript.html.twig' %}
{% endblock %}