<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="sidebar">
        <div class="counting-result">
            <span class="counthotel">{{ produits.getTotalItemCount }}</span> produit(s) trouvé(s)
        </div>
        <div class="clear" style="height: 5px;"></div>
        <form role="form" {#class="row"#} method="post" action="{{ path('front_bienetre_liste') }}">
            <div class="search-filter" style="padding: 0px">
                <ul class="search-tabs-content">
                    <li id="search-f-hotels" class="active">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="hotelLocation">Mot clès</label>
                                <input type="text" class="form-control" id="hotelLocation" name="motclesSearch" value="{{ motcle }}">
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="clear mb-20"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a style="margin-top: 5px;" href="{{ path('front_bienetre_liste') }}" class="btn btn-danger  btn-xs">Réinitialiser</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="submit" class="btn btn-primary">Recherche</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear" style="height: 5px;"></div>
            <div class="another-toggle">
                <h5 class="active" >Types </h5>
                <div class="another-toggle-inner">
                    <div class="clear mb-10"></div>
                    {% set ProduitsTab = app.request.get('produits')|split(',') %}
                    <fieldset>
                        <div class="styled-checkbox">
                            <label>
                                <input type="checkbox" {% if 1 in ProduitsTab %}checked{% endif %} name="produits_1">Pack
                            </label>
                        </div>
                        <div class="styled-checkbox">
                            <label>
                                <input type="checkbox" {% if 2 in ProduitsTab %}checked{% endif %} name="produits_2">Soin
                            </label>
                        </div>
                        <div class="styled-checkbox">
                            <label>
                                <input type="checkbox" {% if 3 in ProduitsTab %}checked{% endif %} name="produits_3">Cure
                            </label>
                        </div>
                        <div class="clear"></div>
                        <div class="clear mb-20"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="submit" class="btn btn-primary">Recherche</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>