{% if cure.id is not null %}
    <ul id="myTab" class="nav nav-tabs tab-bricky">
        
        <li {% if app.request.get('_route')=='back_bienetre_ref_cure' %}class="active"{% endif %}>
            <a href="{{ path("back_bienetre_ref_cure",{'id':cure.id}) }}"> <i class="green fa fa-home"></i> {{ cure|title }}
            </a>
        </li>
        
        <li {% if app.request.get('_route')=='back_bienetre_ref_cure_tarif' %}class="active"{% endif %}>
            <a href="{{ path("back_bienetre_ref_cure_tarif",{'id':cure.id}) }}"> 
                Tarifs ({{ cure.tarifs|length }})
            </a>
        </li>

        
    </ul>
{% endif %}