{% set sort=app.request.get('sort') %}
{% set dir=app.request.get('direction') %}
{% set action=path('front_hoteltunisie_sort',{'min':app.request.get('min'),'max':app.request.get('max'),'categorie':app.request.get('categorie'),'chaine':app.request.get('chaine'),'ville':app.request.get('ville'),'tag':app.request.get('tag'),'promotion':app.request.get('promotion'),'name':app.request.get('name'),}) %}
<div class="nav-drop booking-sort">
    <h5 class="booking-sort-title"><a href="#">Trier Par<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
    <ul class="nav-drop-menu">
        <li><a href="#">Nom de A à Z</a>
        </li>
        <li><a href="#">Nom de Z à A</a>
        </li>
        <li><a href="#">Catégorie Croissant</a>
        </li>
        <li><a href="#">Catégorie Décroissant</a>
        </li>
        <li><a href="#">Ville Ascendant</a>
        </li>
        <li><a href="#">Ville Descendant</a>
        </li>
    </ul>
</div>