{% set sort=app.request.get('sort') %}
{% set dir=app.request.get('direction') %}
{% set action=path('front_hoteltunisie_sort',{'categorie':app.request.get('categorie'),'chaine':app.request.get('chaine'),'ville':app.request.get('ville'),'tag':app.request.get('tag'),'promotion':app.request.get('promotion'),'name':app.request.get('name'),}) %}
<div class="sort-by-wrapper">
    <div class="sort-by-text mr-15 xs-mb sm-mb" style="white-space: nowrap;">
        Trier par:
    </div>
    <form method="post" action="{{ action }}">
        <div class="sort-option mr-15 xs-mb sm-mb">
            <input type="hidden" name="sort" value="h.libelle">
            <select class="form-control mySelectBoxClass " name="direction" onchange="submit()">
                <option value="" selected>Nom</option>
                <option value="asc" {% if sort=='h.libelle' and dir=='asc' %}selected {% endif %}>De A à Z</option>
                <option value="desc" {% if sort=='h.libelle' and dir=='desc' %}selected {% endif %}>De Z à A</option>
            </select>
        </div>
    </form>
    <form method="post" action="{{ action }}">
        <input type="hidden" name="sort" value="h.categorie">
        <div class="sort-option mr-15 xs-mb sm-mb">
            <select class="form-control mySelectBoxClass " name="direction" onchange="submit()">
                <option value="" selected>Catégorie</option>
                <option value="asc" {% if sort=='h.categorie' and dir=='asc' %}selected {% endif %}>Croissant</option>
                <option value="desc" {% if sort=='h.categorie' and dir=='desc' %}selected {% endif %}>Descendant</option>
            </select>
        </div>
    </form>
    <form method="post" action="{{ action }}">
        <input type="hidden" name="sort" value="v.libelle">
        <div class="sort-option mr-15 xs-mb sm-mb">
            <select class="form-control mySelectBoxClass " name="direction" onchange="submit()">
                <option value="" selected>Ville</option>
                <option value="asc" {% if sort=='v.libelle' and dir=='asc' %}selected {% endif %}>Ascendant</option>
                <option value="desc" {% if sort=='v.libelle' and dir=='desc' %}selected {% endif %}>Descendant</option>
            </select>
        </div>
    </form>
</div>
<div class="clear mb-30"></div>