{% extends ":Front:base.html.twig" %}
{% block title %}Succes{% endblock %}
{% block body %}
    <div id="content_wrapper">
        <div class="container">
            <div class="row clearfix pv-50">
                <div class="col-md-12">
                    <div class="white-bg payment-wrapper">
                        <h2 class="section-title center mb-10"><span class="text-success">Merci</span>, votre Paiement a été effectué avec succées</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
