{% extends ":Front:base.html.twig" %}
{% block body %}
    <div id="content_wrapper">
	<div class="container">
	    <div class="row clearfix pv-50">
		{% include ':Front:alert.html.twig' %}
		<div class="col-xs-12 col-sm-12 col-md-12 xs-mb">
		    <div class="white-bg payment-wrapper">
			<h3 class="section-title">Félicitations </h3>
			<div class="bb2 mb-20"></div>
			<p>Votre réservation a été effectuée avec succés sous le numéro {{ reservation.id }}</p>
			<p>Merci pour votre fidelité</p>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock  %}
