<li  {% if app.request.getPathInfo|split('/admin/resabooking')|length > 1 %} class="active open"{% endif %}>
    <a href="javascript:void(0)"><i class="clip-globe"></i>
	<span class="title">Resa Booking</span><i class="icon-arrow"></i>
	<span class="selected"></span>
    </a>
    <ul class="sub-menu">
	<li {% if app.request.getPathInfo|split('/admin/resabooking')|length > 1 %}  class="active open"{% endif %} >
		<a href="javascript:void(0)"><i class="clip-settings"></i>
			<span class="title">Configuration</span><i class="icon-arrow"></i>
	    </a>
	    <ul class="sub-menu">
			<li {% if app.request.get('_route')=='back_resabooking_config_parametres' %} class="open"{% endif %}>
				<a href="{{ path('back_resabooking_config_parametres') }}">
				<span class="title">Paramétres</span>
				</a>
			</li>
	    </ul>
	</li>
	{#<li {% if app.request.getPathInfo|split('/admin/voyage_organise/vo')|length > 1 %} class="active open"{% endif %} >#}
	    {#<a href="javascript:void(0)"><i class="clip-tree-2"></i>#}
		{#<span class="title">Voyages Organisés</span><i class="icon-arrow"></i>#}
	    {#</a>#}
	    {#<ul class="sub-menu">#}
		{#<li {% if app.request.get('_route')=='back_vo_liste' %} class="open"{% endif %}>#}
		    {#<a href="{{ path('back_vo_liste') }}">#}
			{#<span class="title">Liste</span>#}
		    {#</a>#}
		{#</li>#}
	    {#</ul>#}
	    {#<ul class="sub-menu">#}
		{#<li {% if app.request.get('_route')=='back_vo_ajouter' %} class="open"{% endif %}>#}
		    {#<a href="{{ path('back_vo_ajouter') }}">#}
			{#<span class="title">Nouveau</span>#}
		    {#</a>#}
		{#</li>#}
	    {#</ul>#}
	{#</li>#}
    </ul>
</li>