<div class="detail">
    <p>
        {{ hotel.descriptionLongue|raw }}
    </p>
    {% if hotel.checkIn is not null %}
        <ul>
            <li class="fa fa-clock-o"> Check-In Time<span>{{ hotel.checkIn }} </span></li>
        </ul>
        <ul>
            <li class="fa fa-clock-o"> Check-Out Time<span>{{ hotel.checkOut }} </span></li>
        </ul>
    {% endif %}
    <ul>
        <li class="fa fa-map-marker">{{ hotel.adresse }}</li>
    </ul>

</div>