{% if pack.id is not null %}
    <ul id="myTab" class="nav nav-tabs tab-bricky">
        
        <li {% if app.request.get('_route')=='back_bienetre_ref_pack' %}class="active"{% endif %}>
            <a href="{{ path("back_bienetre_ref_pack",{'id':pack.id}) }}"> <i class="green fa fa-home"></i> {{ pack|title }}
            </a>
        </li>
        
        <li {% if app.request.get('_route')=='back_bienetre_ref_pack_tarif' %}class="active"{% endif %}>
            <a href="{{ path("back_bienetre_ref_pack_tarif",{'id':pack.id}) }}"> 
                Tarifs ({{ pack.tarifs|length }})
            </a>
        </li>

        
    </ul>
{% endif %}