<div class="row" >
    <div class="col-md-12" ><h1 class="center">{{ saison }} <small>{{ hotel }}</small></h1></div>
</div>
{{ render(controller('BackHotelTunisieBundle:Saisons:recup',{'id':saison.id})) }}