<div class="top-header">
    <div class="clearfix">
        <div class="top-header-inner clearfix">
            <div class="header-currency mr-20">
                <a href="#"><span><i></i>Dinars (DT)</span></a>
                <div class="currency-show">
                    <ul>
                        <li><a href="#"><span><i></i>Pound (UK) </span></a></li>
                        <li><a href="#"><span><i></i>Euro (EU) </span></a></li>
                    </ul>
                </div><!-- end other -->
            </div>
            <div class="header-phone"><i class="icon icon-phone-support"></i>(+216) 52 557 390</div>
            <button class="login-modal" data-toggle="modal" style="border-right: none">
                <i class="icon icon-phone-support"></i>Contact
            </button>
            <button class="login-modal" data-toggle="modal" data-target="#registerModal">
                <i class="icon icon icon-user-add mi"></i>S'inscrire
            </button>
            <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">S'inscrire</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="register-name">Votre Nom</label>
                                    <input type="text" class="form-control" id="register-name">
                                </div>
                                <div class="form-group">
                                    <label for="register-name">Votre Prénom</label>
                                    <input type="text" class="form-control" id="register-name">
                                </div>
                                <div class="form-group">
                                    <label for="register-email">Votre Email</label>
                                    <input type="email" class="form-control" id="register-email">
                                </div>
                                <div class="form-group">
                                    <label for="register-password">Votre mot de passe</label>
                                    <input type="password" class="form-control" id="register-password">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-success">S'inscrire</a>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <button class="login-modal" data-toggle="modal" data-target="#loginModal">
                <i class="fa-sign-in mi"></i>Se connecter
            </button>

            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Se connecter</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="show-login">Votre Email</label>
                                    <input type="text" class="form-control" id="show-login">
                                </div>
                                <div class="form-group">
                                    <label for="show-password">Votre mot de passe</label>
                                    <input type="password" class="form-control" id="show-password">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Se souvenir de moi
                                    </label>
                                </div>
                                <a href="#" class="forgot" style="color: #3C454E;">Mot de passe oublié ?</a>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear xss-mb-10"></div>
        </div><!-- end top-header-inner -->
    </div><!-- end container -->
</div>