<div class="sort-by-wrapper">
    <div class="sort-by-text mr-15 xs-mb sm-mb">
        Sort by:
    </div>
    <div class="sort-option mr-15 xs-mb sm-mb">
        <select class="form-control mySelectBoxClass ">
            <option selected>Name</option>
            <option>A to Z</option>
            <option>Z to A</option>
        </select>
    </div>
    <div class="sort-option mr-15 xs-mb sm-mb">
        <select class="form-control mySelectBoxClass ">
            <option selected>Price</option>
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    <div class="sort-option mr-15 xs-mb sm-mb">
        <select class="form-control mySelectBoxClass ">
            <option selected>Popularity</option>
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    <div class="sort-option mr-15 xs-mb">
        <select class="form-control mySelectBoxClass ">
            <option selected>Star Rating</option>
            <option>Ascending</option>
            <option>Descending</option>
        </select>
    </div>
    <ul class="sort-nav">
        <li><a href="page-list-small-grid.html"><i class="fa-th"></i></a></li>
        <li><a href="page-list-large-grid.html"><i class="fa-th-large"></i></a></li>
        <li class="active"><a href="page-list-list.html"><i class="fa-th-list"></i></a></li>
    </ul>
</div>
<div class="clear mb-30"></div>