{% extends "BackHotelTunisieBundle:referentiel/regionVille:listeVille.html.twig" %}
{% block title %}Photo{% endblock %}
{% block description %}Gestion des photos{% endblock %}
{% block topbody %}   
    {{ parent() }}
    <li>
        <a href="javascript:void(0)" >Photos</a>
    </li>
{% endblock %}
{% block body %}
    {{ formulaire.formPhoto(form,images) }}                  
{% endblock %}