<h3>Programme</h3>
<ul class="booking-list">{% for description in voyage.descriptions if description.visible==true and not description.lateral %}
    <li>
        <div class="booking-item-container">
            <div class="booking-item">
                    <div class="col-12">
        {% if  description.photoVisible == true and description.path is not null %}
                        <div class="left lb-padding">
                            <img src="{{ asset(description.assetPath) }}" alt="" class="fwimg" />
                        </div>
                    {% endif %}
                    <a class="booking-item-title">{{ description.libelle }}</a>
                    {% if description.soustitre is defined %}
                        {% if description.soustitre is not null %}<span>{{ description.soustitre }}</span>
                        {% endif %}
                    {% endif %}
                    <p>
                        {{ description.texte|raw }}
                    </p>
                    </div>
                </div>
            </div>
    </li>
        <div class="gap gap-small"></div>
{% endfor %}
</ul>